.courses_container {
  // background-color: #ffffff;
  // min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: calc(10px + 2vmin);
  overflow-y: auto;
  // color: white;
  @media screen and (max-width: 760px) {
    min-height: 40vh;
    height: 83vh;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .content_container {
    position: relative;
    left: 7rem;
    top: 0px;
    display: flex;
    flex-direction: column;
    // background-color: rgba(66, 133, 244, 0.12);
    width: 95vw;
    min-height: 100vh;
    margin: 10px 0px 10px 0px;
    padding: 0px 50px 0px 50px;

    @media screen and (max-width: 760px) {
      width: 100%;
      padding: 0px;
      min-height: 50vh;
      align-items: center;
      overflow-y: auto;
      margin: 0;
      // height: 75vh;
      left: 0;
    }
    .top_section {
      display: flex;
      flex-direction: row;
      padding: 0px;
      justify-content: space-between;
      align-items: center;
      margin: 20px 0px 20px 0px;

      
      ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        li {
          white-space: nowrap;
          flex: 0 0 auto;
          margin: 2px;
          min-width: 0;
          display: flex;
          flex-direction: row;
          align-items: center;
          // color: #002668;
          font-size: 15px;
          font-weight: 600;
          a {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-decoration: none;
          }
          &:after {
            content: "/";
            display: inline-block;
            // color: #002668;
            margin: 0 5px;
          }
          &:last-child {
            flex: 1 1 auto;
            text-overflow: ellipsis;
            overflow: hidden;
            &:after {
              content: "";
              display: inline-block;
              margin: 0 5px;
            }
          }
          a {
            // color: #002668;
          }
        }
      }
    }
    .side_tab_mobile {
      position: sticky;
      top: 0px;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 90;
      @media screen and (max-width: 760px) {
        display: flex;
      }
      .hide_menu_tab {
        max-height: 0;
        transition: max-height 0.15s ease-out;
        overflow: hidden;
      }
      .show_menu_tab {
        max-height: 300px;
        transition: max-height 0.45s ease-in;
      }
      button {
        height: 40px;
        width: 100px;
        border-radius: 0% 0% 100% 100%;
        background-color: rgb(51, 15, 211);
        color: white;
        font-size: 14px;
        font-weight: 700;
        outline: none;
        -webkit-tap-highlight-color: transparent;
        &:hover {
          background-color: rgb(27, 52, 129);
        }
        &:hover > .course_tab {
        }
        // background: linear-gradient(180deg, #31313216 0%, #010101 100%);
      }
    }
    .tab_container {
      display: flex;
      flex-direction: row;
      @media screen and (max-width: 760px) {
        flex-direction: column;
        display: absolute;
      }
      .swipe_left {
        display: none;
        @media screen and (max-width: 760px) {
          display: block;
          position: sticky;
          display: flex;
          flex-direction: row-reverse;
          top: 20%;
          right: 0px;
        }
        .swipe {
          padding: 20px;
          border-radius: 50%;
          background-color: #002668e1;
        }
      }
    }

    .course_sectioner {
      display: flex;
      flex-direction: column;
      background: #ffffff;
      border-radius: 5px;
      width: 95%;
      padding: 10px 0px 20px 10px;
      height: auto;
      margin: 5px 20px 10px 20px;
      @media screen and (max-width: 760px) {
        width: 85%;
        flex-direction: column;
        height: auto;
        padding: 10px 15px 20px 5px;
      }
      .top_header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 20px 10px 0px 10px;
        @media screen and (max-width: 760px) {
          margin-bottom: 20px;
        }
        h3 {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 16px;
          color: #252525;
          text-transform: uppercase;
        }
        a {
          font-size: 15px;
          font-weight: 600;
          color: #1815aa;
          text-decoration: none;
        }
      }
      .course_container {
        display: flex;
        flex-direction: row;
        padding: 5px;
        cursor: pointer;
        @media screen and (max-width: 760px) {
          flex-direction: column;
          padding: 0px;
          min-height: 0%;
          height: 100%;
          // margin-bottom: 20px;
        }
        .item_course {
          width: 32%;
          margin: 5px;
          text-decoration: none;
          @media screen and (max-width: 760px) {
            width: 100%;
            margin: 5px 50px 20px 5px;
          }
          &:hover {
            .bottom_label {
              background-color: #738ec759;
            }
          }
          img {
            width: 100%;
            height: 70%;
          }
          .bottom_label {
            display: flex;
            flex-direction: column;
            background-color: #f4f4f4;
            padding: 10px;
            span {
              font-family: "Poppins";
              text-decoration: none;
              font-style: normal;
              font-weight: 600;
              font-size: 15px;
              line-height: 16px;
              color: #252525;
            }
            .duration {
              color: #666666;
              margin-top: 10px;
            }
            .progressContainer {
              display: flex;
              flex-direction: column;
              margin: 10px 0px 10px 0px;
            }
          }
        }
      }
    }
  }
}
